/* General Styles for screen size <= 290px */
@media screen and (max-width: 290px) {
  html {
    font-size: 50%;
  }
}

/* General Styles for screen size <= 230px */
@media screen and (max-width: 230px) {
  html {
    font-size: 25%;
  }
}

/* General Styles for screen size <= 180px */
@media screen and (max-width: 180px) {
  html {
    font-size: 18%;
  }
}

/* General Styles for screen size >= 400px */
@media screen and (min-width: 400px) {
  .hero-section p br {
    display: none;
  }
}

/* General Styles for screen size >= 640px */
@media screen and (min-width: 640px) {
  .hero-section p,
  .five-steps-header p {
    width: 600px;
  }
}

/* General Styles for screen size >= 768px */
@media screen and (min-width: 768px) {
  .site-wrapper > section {
    padding-inline: 3.5rem;
  }

  /* Navbar */
  .navbar {
    background-color: #1918177e;
    width: fit-content;
    gap: 3rem;
  }

  .navbar .nav-links {
    width: auto;
    display: flex;
    position: initial;
    flex-direction: row;
    border: none;
    background-color: initial;
    -webkit-backdrop-filter: initial;
    backdrop-filter: initial;
    padding: 0;
  }

  .navbar .nav-links li:nth-child(5),
  .navbar .nav-links li:nth-child(6) {
    display: none;
  }

  .navbar .nav-links button {
    width: initial;
    white-space: nowrap;
  }

  .navbar .button-toggle-bar-box {
    display: none;
  }

  /* Hero Section */
  .hero-section img {
    max-width: 400px;
  }

  .hero-section h1,
  .five-steps-header h1 {
    font-size: 8rem;
  }

  .hero-section p,
  .five-steps-header p {
    font-size: 2rem;
  }

  /* Marquee 1 */
  .marquee-container-1 .marquee .marquee-slide {
    font-size: 2.8rem;
  }

  /* Selected Work */
  .selected-work-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .selected-work-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
  }

  .selected-work-img-box {
    flex-basis: calc(calc(100% - 2rem) / 2);
    background-image: url("../assets/images/selected-work-img-1.jpg");
    background-size: cover;
    aspect-ratio: 1/0.8;
    border-radius: 3px;
    border: 1px solid #343230;
    display: flex;
    align-items: flex-end;
    padding: 1.5rem;
  }
}

/* General Styles for screen size >= 1200px */
@media screen and (min-width: 1200px) {
  html {
    font-size: 11px;
  }

  .site-wrapper > section {
    padding-inline: 4.5rem;
  }

  /* Hero Section */
  .hero-section img {
    max-width: 500px;
  }

  .hero-section h1 {
    font-size: 11rem;
    margin-top: -0.3em;
  }

  /* Marquee 1 */
  .marquee-container-1 .marquee {
    width: 70%;
  }

  /* Project in Mind Section */
  .project-in-mind h1 {
    font-size: 11rem;
  }

  /* Services Section */
  .services-section {
    display: flex;
    flex-direction: row;
    gap: 2.8rem;
    padding-block: 4.5rem;
  }

  .services-section .service {
    background-color: #181716;
    padding: 3rem;
    border: 1px solid #343230;
    color: var(--primary-color);
  }

  /* Five Steps Section Start */
  .five-boxes-container .row {
    display: flex;
    gap: 5rem;
  }

  .five-boxes-container .row .col:first-child {
    display: revert;
  }

  .five-boxes-container .row .col:nth-child(2) {
    width: 7rem;
  }

  .five-boxes-container .row .col .time {
    align-self: flex-end;
    margin-bottom: 0rem;
  }

  .five-boxes-container .row .col h3 {
    font-size: 2.3rem;
  }

  .five-boxes-container .row:nth-of-type(2n) .col:first-child {
    order: 2;
  }

  .five-boxes-container .row:nth-of-type(2n) .col:last-child {
    order: -1;
  }
}

/* General Styles for screen size >= 1500px */
@media screen and (min-width: 1500px) {
  .site-wrapper > section {
    padding-inline: 5.5rem;
  }
}

/* General Styles for screen size >= 1500px */
@media screen and (min-width: 1800px) {
  html {
    font-size: 16px;
  }
}

/* General Styles for screen size >= 2200px */
@media screen and (min-width: 2200px) {
  html {
    font-size: 18px;
  }
}
